<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    Chuoi JWT:
    eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyMTIzIiwibmFtZSI6IkFuaCIsImlhdCI6MTY5MDAwMDAwMCwi
    ZXhwIjoxNjkwMDAzNjAwfQ.2c9O0kpBBkUhzIx-Wr8Po-D8IrmSgBIKzmxVz3K2OBg
    -Giai ma bang cong cu jwt.io
    Truy cập: https://jwt.io → Dán chuỗi JWT vào ô Encoded.
    Phần Payload sau khi giải mã:
    {
    "sub": "user123",
    "name": "Anh",
    "iat": 1690000000,
    "exp": 1690003600
    }
    Giai thich cach truong trong Payload
    sub:Subject – định danh người dùng chính của token (user123).
    name:Tên người dùng (Anh).
    iat:Issued At – thời điểm phát hành token (timestamp tính bằng giây).
    exp:Expiration – thời điểm hết hạn của token (timestamp).

</div>
</body>
</html>